<!DOCTYPE html>
<html>
<head>
	<title>RHA-FAQ'S</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $("#d1").toggle();
    });

});
</script>
</head>
<body>
<div class="container">
<a class="btn btn-success" href="{% url 'dummyapp:home' %}">Home</a>
<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeKdDDMROA1k9Fw7xEfnm9Dil67LSVFAsqvIl0Ryx1NLD4Bc-76g"></center>
<div style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIr0e7sDxCzaDCiBh87lVzX68IGA8l2LQAgnDTC6EFiNID5pTGwA); padding-left: 300px;padding-right: 300px;font: bold;">
<h3>What is Robin Hood Army?<h3>
<h5> <p>The Robin Hood Army is a zero-funds volunteer organization that works to get surplus food from restaurants and communities to serve the less fortunate.Our “Robins” are largely students and young working professionals – everyone does this in their free time. The lesser fortunate sections of society we serve include homeless families, orphanages, patients from public hospitals and old age homes.<h5></p></div>

 <div style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyQX-E1I9Fhm5xrWiLYq6tbOrWp1BW35SmL9PuGygI6eE76Eql);padding-left: 300px;padding-right: 300px" >
<h3>How did it start?</h3>
<p><h5>Modeled on the Re-Food program in Portugal, the Robin Hood Army started on the streets of Delhi, India in August 2014.</h5></p>
</div>
<div style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIr0e7sDxCzaDCiBh87lVzX68IGA8l2LQAgnDTC6EFiNID5pTGwA); padding-left: 300px;padding-right: 300px" >
<h3>Where are you folks present?</h3>
<p><h5>At last count we are present in 70 cities across 12 countries. 1% Done.</h5></p>
</div>
<div style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyQX-E1I9Fhm5xrWiLYq6tbOrWp1BW35SmL9PuGygI6eE76Eql);padding-left: 300px;padding-right: 300px" >
<h3>What about funds?</h3>
<p><h5>We have just one rule – we are a zero funds organization. The Robin Hood Army has no revenue, employees, nor office space – if you want to help, all we need is your time. </h5></p>
</div>
<div style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIr0e7sDxCzaDCiBh87lVzX68IGA8l2LQAgnDTC6EFiNID5pTGwA); padding-left: 300px;padding-right: 300px" >
<h3>Do you give certificates to volunteers?</h3>
<p><h5>Naa – we want our team to serve less fortunate people, not build their own polished résumés 🙂 . Citizens First → Mission Next → Robins Last.</h5></p>
</div>
</div>
</body>
</html>
